.activePlayerContainer {
  position: absolute;
  width: 75%;
  left: 0;
  right: 0;
  margin: auto;
  top: 20px;
  bottom: 50px;
  height: calc(100vh - 20px - 100px);
}

.inActivePlayerContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 200px;
  height: calc(100vh - 20px);
  right: 20px;
  top: 20px;
}
